@import "MainText.css";
@import "SearchBox.css";
@import "Products.css";
@import "ProductDetail.css";

@font-face {
    font-family: "IRANYekan";
    font-style: normal;
    font-weight: 500;
    src: url("../fonts/235b71a9b409e684e865eb4a996e925e.eot"); /* IE9*/
    src: url("../fonts/235b71a9b409e684e865eb4a996e925e.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../fonts/235b71a9b409e684e865eb4a996e925e.woff2") format("woff2"), /* chrome、firefox */
    url("../fonts/235b71a9b409e684e865eb4a996e925e.woff") format("woff"), /* chrome、firefox */
    url("../fonts/235b71a9b409e684e865eb4a996e925e.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url("../fonts/235b71a9b409e684e865eb4a996e925e.svg#IRANYekan") format("svg"); /* iOS 4.1- */
}
body{
    font-family: "IRANYekan";
}
/*Home component*/
.logo{
}
.bg-image{
    margin-top: -200px;
    margin-left: -135px;
}
.bg-sm{
    max-width: 100%;
    max-height: 100%;
    /*margin-left:  -90px;*/
    /*margin-top: -120px;*/
}
